# Sample .travis.yml for R projects.
#
# See README.md for instructions, or for more configuration options,
# see the wiki:
#   https://github.com/craigcitro/r-travis/wiki

language: c

branches:
  only:
    - master

### For osx
os:
  - osx

before_install:

install:
  - curl -OL http://raw.github.com/craigcitro/r-travis/master/scripts/travis-tool.sh
  - chmod 755 ./travis-tool.sh
  - ./travis-tool.sh bootstrap

script:
  - mkdir Rlib
  - export R_LIBS_USER=`pwd`/Rlib
  - curl -OL https://github.com/snoweye/pbdZMQ/archive/master.zip
  - unzip master.zip
  - mv pbdZMQ-master pbdZMQ
  - R CMD build --no-resave-data --no-manual --no-build-vignettes pbdZMQ
  - Rscript -e "install.packages('pbdZMQ_0.3-2.tar.gz', './Rlib', repos = NULL)"
  - export R_LIBS_USER=`pwd`/Rlib.new
  - mv Rlib Rlib.new
  # - Rscript -e "pbdZMQ::get.zmq.cppflags()"
  # - Rscript -e "pbdZMQ::get.zmq.ldflags()"
  # - Rscript -e "pbdZMQ::get.pbdZMQ.ldflags()"
  # - Rscript -e "pbdZMQ::test.load.zmq()"
  - otool -L ./Rlib.new/pbdZMQ/libs/pbdZMQ.so
  - otool -L ./Rlib.new/pbdZMQ/libs/libzmq.5.dylib
  - Rscript -e "install.packages(c('jsonlite', 'repr', 'Rcpp', 'gdtools', 'data.table'), repos = 'https://cran.r-project.org/', type = 'mac.binary')"
  - curl -OL https://cran.r-project.org/src/contrib/JuniperKernel_1.2.2.0.tar.gz
  - Rscript -e "install.packages('JuniperKernel_1.2.2.0.tar.gz', './Rlib.new', repos = NULL)"
  - otool -L ./Rlib.new/pbdZMQ/libs/pbdZMQ.so
  - otool -L ./Rlib.new/pbdZMQ/libs/libzmq.5.dylib

after_failure:
  # - ./travis-tool.sh dump_logs

notifications:
  email:
    on_success: no
    on_failure: no

sudo: required
