# Sample .travis.yml for R projects.
#
# See README.md for instructions, or for more configuration options,
# see the wiki:
#   https://github.com/craigcitro/r-travis/wiki

language: c

branches:
  only:
    - master

### For osx
os:
  - osx

before_install:

install:
  - curl -OL http://raw.github.com/craigcitro/r-travis/master/scripts/travis-tool.sh
  - chmod 755 ./travis-tool.sh
  - ./travis-tool.sh bootstrap

script:
  - curl -OL https://github.com/snoweye/pbdZMQ/archive/master.zip
  - unzip master.zip; rm -rf master.zip; mv pbdZMQ-master pbdZMQ
  - R CMD build --no-resave-data --no-manual --no-build-vignettes pbdZMQ
  - Rscript -e "install.packages('pbdZMQ_0.3-2.tar.gz', repos = NULL)"
  - Rscript -e "install.packages(c('jsonlite', 'repr', 'Rcpp', 'gdtools', 'data.table', 'roxygen2'), repos = 'https://cran.r-project.org/')"
  - curl -OL https://github.com/JuniperKernel/JuniperKernel/archive/master.zip
  - unzip master.zip; rm -rf master.zip; mv JuniperKernel-master JuniperKernel
  # - curl -OL https://github.com/snoweye/JuniperKernel/archive/osx.zip
  # - unzip osx.zip; rm -rf osx.zip; mv JuniperKernel-osx JuniperKernel
  - cd JuniperKernel; make; cd ../
  - mkdir Rlib
  - mv /Library/Frameworks/R.framework/Versions/3.4/Resources/library/pbdZMQ/ Rlib/
  - otool -D ./Rlib/pbdZMQ/libs/libzmq.5.dylib
  - export R_LIBS_USER=`pwd`/Rlib
  - Rscript -e "install.packages('./JuniperKernel/build/JuniperKernel_1.3.0.0.tar.gz', './Rlib', repos = NULL)"
  - otool -D ./Rlib/pbdZMQ/libs/libzmq.5.dylib
  - otool -L ./Rlib/JuniperKernel/libs/JuniperKernel.so
  - Rscript -e "library(JuniperKernel)"
  - otool -L ./Rlib/JuniperKernel/libs/JuniperKernel.so
  - mv Rlib Rlib.new
  - export R_LIBS_USER=`pwd`/Rlib.new
  - Rscript -e "library(JuniperKernel)"
  - otool -D ./Rlib.new/pbdZMQ/libs/libzmq.5.dylib
  - otool -L ./Rlib.new/JuniperKernel/libs/JuniperKernel.so

after_failure:
  # - ./travis-tool.sh dump_logs

notifications:
  email:
    on_success: no
    on_failure: no

sudo: required
